@page "/person/create"
@inject InsCorpDbContext db
@inject NavigationManager nav


<h3>Přidej novou osobu</h3>

<EditForm Model="Person" OnValidSubmit="Save">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="control-label col-md-2">Jméno</label>
        <div class="col-md-3">
            <InputText @bind-Value="Person.FirstName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Příjmení</label>
        <div class="col-md-3">
            <InputText @bind-Value="Person.LastName" class="form-control" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        <div class="col-md-3">
            <InputText @bind-Value="Person.Email" class="form-control" />
            <ValidationMessage For="() => Person.Email" />
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Datum narození</label>
        <div class="col-md-3">
            <InputDate @bind-Value="Person.DateOfBirth" class="form-control" />
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Ulož</button>
        </div>
    </div>
    <div>
        <ValidationSummary />
    </div>
</EditForm>

@code {
    Person Person = new();

    void Save()
    {
        db.Persons.Add(Person);
        db.SaveChanges();

        nav.NavigateTo($"/person/detail/{Person.Id}");
    }
}
