@page "/person/create"
@inject InsCorpDbContext db
@inject NavigationManager nav


<h3>Přidej novou osobu</h3>

<PersonEditForm OnValidSubmit="Save" Person="Person" />

@code {
    Person Person = new();

    void Save()
    {
        db.Persons.Add(Person);
        db.SaveChanges();

        nav.NavigateTo($"/person/detail/{Person.Id}");
    }
}
