@page "/person/edit/{id:int}"
@using Microsoft.EntityFrameworkCore
@inject InsCorpDbContext db
@inject NavigationManager nav


<h3>Editace osoby</h3>

<PersonEditForm OnValidSubmit="Save" Person="Person"/>

@code {
    Person Person = new();

    [Parameter]
    public int id { get; set; }
    protected override void OnInitialized()
    {
        Person = db.Persons.Find(id);
    }

    void Save()
    {
        db.Entry(Person).State = EntityState.Modified;
        db.SaveChanges();

        nav.NavigateTo($"/person/detail/{Person.Id}");
    }
}
