@page "/person/list"
@inject InsCorpDbContext db
@inject NavigationManager nav

<h3>Seznam osob</h3>
<table class="table">
    <tr>
        <td>Jméno</td>
        <td>Příimení</td>
        <td>Datum narození</td>
        <td>Email</td>
        <td></td>
    </tr>
    @foreach (var person in people)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.DateOfBirth.ToShortDateString()</td>
            <td><a href="/person/detail/@person.Id">@person.Email</a></td>
            <td><a class="btn btn-primary btn-sm" style="background:blue;" href="/person/detail/@person.Id">Detail</a>
                <a class="btn btn-secondary btn-sm" style="background:blue;" href="/person/edit/@person.Id">Editovat</a>
                <button @onclick="() => Edit(person.Id)"> Test button</button>
            </td>
        </tr>
    }
</table>
@code {
    List<Person> people = new List<Person>();

    protected override void OnInitialized()
    {
        people = db.Persons.Take(20).ToList();
    }

    void Edit(int id)
    {
        nav.NavigateTo($"/person/detail/{id}");
    }
}
